.todos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todos h1 {
  font-size: 5rem;
  color: lightgray;
}

.add-form {
  display: flex;
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.add-input,
.add-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.add-input {
  flex: 1;
  padding: 5px 10px;
  font-size: 17px;
}

.add-btn {
  cursor: pointer;
}

.todo-item,
.edit-form {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 450px;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.todo-item p {
  flex: 1;
  margin-left: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.todo-item button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.edit-form input {
  width: 100%;
  padding: 5px 10px;
}
